<h2>Lista de presentes</h2>

<h3>Dinheiro</h3>

<p>Se você pensa em nos presentear, pensamos muito e entendemos que o melhor para nossa família neste momento seria reservar
  um pouco de dinheiro para os meses que virão e para nosso Bernardo que está a caminho.</p>

<div>
  <strong>Banco do Brasil</strong>
</div>
<div>
  <strong>Agência</strong> 0201-1
</div>
<div>
  <strong>Conta</strong> 53948-1
</div>
<div>
  <strong>Titular</strong> Bruno da Silva João
</div>
<div>
  <strong>CPF</strong> 045.937.059-67
</div>

<p>Criamos também uma lista </p>

<h3>Lista de presentes</h3>

<table>
  <thead>
    <tr>
      <th align="left">Produto</th>
      <th align="left">Cores</th>
      <th align="left">Marcas</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor=" let presente of presentes ">
      <td>{{ presente.nome }}</td>
      <td>{{ presente.cores }}</td>
      <td>{{ presente.marcas }}</td>
    </tr>
  </tbody>
</table>

<p>
  <strong>Endereço de entrega:</strong> Rua Brisamar, 561, Ap 206, bloco B. Bairro Ingleses, Florianópolis - SC</p>

<p>Ps.: Favor avisar aos noivos caso for presentear com algum dos itens acima para que seja removido da lista e evite presentes
  duplicados. brunodasj@gmail.com ou denisefaccin@gmail.com. Obrigado!
</p>