<h2>Lista de presentes</h2>

<h3>Dinheiro</h3>

<p>Se você pensa em nos presentear, pensamos muito e entendemos que o melhor para nossa família neste momento seria reservar
  um pouco de dinheiro para os meses que virão e para nosso Bernardo que está a caminho.</p>

<div>
  <strong>Banco do Brasil</strong>
</div>
<div>
  <strong>Agência</strong> 0201-1
</div>
<div>
  <strong>Conta</strong> 53948-1
</div>
<div>
  <strong>Titular</strong> Bruno da Silva João
</div>
<div>
  <strong>CPF</strong> 045.937.059-67
</div>

<h3>Lista de presentes</h3>

<p>Se desejar, separamos algumas das coisas que estamos querendo adquirir.</p>

<table *ngIf="(gifts | async) as giftsList else loadingGifts">
  <thead>
    <tr>
      <th align="left">Produto</th>
      <th align="left">Quantidade</th>
      <th align="left">Cores</th>
      <th align="left">Marcas</th>
      <th align="left">Presentear</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor=" let gift of giftsList">
      <tr *ngIf="gift.data as giftData" [ngClass]="{'given-item': !giftData.disponivel}">
        <td>{{ giftData.nome }}</td>
        <td align="center">{{ giftData.disponivel }}</td>
        <td>{{ giftData.cores }}</td>
        <td>{{ giftData.marcas }}</td>
        <td>
          <button mat-button type="button" (click)="openRewardForm(gift)">{{ giftData.disponivel ? 'Presentear' : 'Conferir'}}</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>

<p>
  <strong>Endereço de entrega:</strong> Rua Brisamar, 561, Ap 206, bloco B. Bairro Ingleses, Florianópolis - SC
</p>

<p>
  <strong>Contatos:</strong> Bruno 48 996585472 e Denise 48 996769212
</p>

<p>
  <strong>Ps.:</strong> Favor indicar na lista acima o presente que tem intenção de dar. Se preferir, comunique diretamente os noivos através de um dos e-mails ou telefones a seguir: brunodasj@gmail.com (48 996585472) ou denisefaccin@gmail.com (48 996769212). Obrigado!
</p>

<ng-template #loadingGifts>
  <h4>Carregando lista de presentes...</h4>
</ng-template>
