<mat-toolbar fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="center center">
  <a mat-flat-button routerLink="localedata" routerLinkActive #rla1="routerLinkActive" [color]="rla1.isActive ? 'primary' : ''">Data e Local</a>
  <a mat-flat-button routerLink="programacao" routerLinkActive #rla2="routerLinkActive" [color]="rla2.isActive ? 'primary' : ''">Programação</a>
  <a mat-flat-button routerLink="orientacoes" routerLinkActive #rla3="routerLinkActive" [color]="rla3.isActive ? 'primary' : ''">Orientações</a>
  <a mat-flat-button routerLink="presentes" routerLinkActive #rla4="routerLinkActive" [color]="rla4.isActive ? 'primary' : ''">Lista de presentes</a>
</mat-toolbar>

<div class="container">
  <div class="content">
    <h1 align="center">Denise Faccin e Bruno João</h1>
    <router-outlet></router-outlet>
  </div>
</div>