// Import Angular Material Design components themes
@import '~@angular/material/theming';

// Apply Angular Material Design global styles
@include mat-core();

// Default App Custom theme
$primary: mat-palette($mat-brown, A400);
$accent: mat-palette($mat-teal, 700);
$warn: mat-palette($mat-red, 500);
$green-theme: mat-light-theme($primary, $accent, $warn);

$primary-color: mat-color($primary);
$accent-color: mat-color($accent);
$warn-color: mat-color($warn);

@include angular-material-theme($green-theme);

body {
  margin: 0;
  padding: 0;
  min-width: 600px;
  background-image: url("/assets/images/bg.jpg");
  background-repeat: repeat;

  h1, h3 {
    color: $primary-color;
  }

  h2, h4 {
    color: $accent-color;
  }
}

tbody tr:nth-child(odd) {
  background-color: rgba(red($primary-color), green($primary-color), blue($primary-color), 0.7);
}

th, td {
  padding: 4px 8px;
}
